.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    margin-top: 80px;
    position: relative;
    width: 100%;
    margin-bottom: 0;
    
   
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    padding: 0 20px;
    bottom: 0;
  }
  
  .footer-left {
    flex: 1;
  }
  
  .footer-left h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .footer-center {
    flex: 1;
  }
  
  .footer-center h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .footer-center ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-center li {
    margin-bottom: 5px;
  }
  
  .footer-center a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-right {
    flex: 1;
  }
  
  .social-icons {
    display: flex;
  }
  
  .social-icon {
    font-size: 24px;
    margin-right: 10px;
    color: #fff;
    text-decoration: none;
  }
  
  .footer-bottom {
    text-align: center;
    padding-top: 20px;
  }
  
  .footer-bottom p {
    font-size: 14px;
  }
  
  .footer-bottom a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }